<h4 class="admin-menu__title mt-4">Principal</h4>
            
<div class="menu-bar">
    <ul id="CrancyMenu" class="menu-bar__one crancy-dashboard-menu">

        {% comment %} Home {% endcomment %}
        <li class="{% if request.path == '/' %}active{% endif %}">
            <a class="collapsed" href="{% url "home" %}">
                <span class="menu-bar__text">
                    <span class="crancy-menu-icon crancy-svg-icon__v1">
                        <svg class="crancy-svg-icon" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M4 21V9l8-6l8 6v12h-6v-7h-4v7z"/></svg>
                    </span>
                    <span class="menu-bar__name">Inicio</span>
                </span>
            </a>
        </li>

        {% comment %} Companies {% endcomment %}
        <li class="{% if '/companies/' in request.path %}active{% endif %}">
            <a class="collapsed" href="{% url "list_companies" %}">
                <span class="menu-bar__text">
                    <span class="crancy-menu-icon crancy-svg-icon__v1">
                        <svg class="crancy-svg-icon" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M18 15h-2v2h2m0-6h-2v2h2m2 6h-8v-2h2v-2h-2v-2h2v-2h-2V9h8M10 7H8V5h2m0 6H8V9h2m0 6H8v-2h2m0 6H8v-2h2M6 7H4V5h2m0 6H4V9h2m0 6H4v-2h2m0 6H4v-2h2m6-10V3H2v18h20V7z"/></svg>
                    </span>
                    <span class="menu-bar__name">Compañías</span>
                </span>
            </a>
        </li>

        {% comment %} Mechanical Workshop Menu {% endcomment %}
        <li class="">
            <a href="#!" class="{% if '/vehicles/' in request.path %}{% else %}collapsed{% endif %}" data-bs-toggle="collapse" data-bs-target="#menu-item__apps" aria-expanded="false"><span class="menu-bar__text">
                <span class="crancy-menu-icon crancy-svg-icon__v1">
                    <svg class="crancy-svg-icon" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M20.96 16.45c.01-.15.04-.3.04-.45v.5zM11 16c0 .71.15 1.39.42 2H6v1c0 .55-.45 1-1 1H4c-.55 0-1-.45-1-1v-8l2.08-6c.2-.58.76-1 1.42-1h11c.66 0 1.22.42 1.42 1L21 11v5c0-2.76-2.24-5-5-5s-5 2.24-5 5m-3-2.5c0-.83-.67-1.5-1.5-1.5S5 12.67 5 13.5S5.67 15 6.5 15S8 14.33 8 13.5M19 10l-1.5-4.5h-11L5 10zm3.87 11.19l-4.11-4.11c.41-1.04.18-2.26-.68-3.11c-.9-.91-2.25-1.09-3.34-.59l1.94 1.94l-1.35 1.36l-1.99-1.95c-.54 1.09-.29 2.44.59 3.35a2.91 2.91 0 0 0 3.12.68l4.11 4.1c.18.19.45.19.63 0l1.04-1.03c.22-.18.22-.5.04-.64"/></svg></span>
                <span class="menu-bar__name">Taller mecánico</span></span> <span class="crancy__toggle"></span>
            </a>
            <div class="crancy__dropdown collapse {% if '/vehicles/' in request.path or '/repairs/' in request.path or '/parts/' in request.path %}show {% else %} {% endif %}" id="menu-item__apps" data-bs-parent="#CrancyMenu" style="">
                <ul class="menu-bar__one-dropdown">

                    {% comment %} Vehicles {% endcomment %}
                    <li>
                        <a href="{% url "list_vehicles" %}">
                            <span class="menu-bar__text">
                                <span class="menu-bar__name {% if '/vehicles/' in request.path %}active{% endif %}">
                                    Vehículos
                                </span>
                            </span>
                        </a>
                    </li>

                    {% comment %} Repairs {% endcomment %}
                    <li>
                        <a href="{% url "list_repairs" %}">
                            <span class="menu-bar__text">
                                <span class="menu-bar__name {% if '/repairs/' in request.path %}active{% endif %}">Reparaciones</span>
                            </span>
                        </a>
                    </li>

                    {% comment %} Parts {% endcomment %}
                    <li>
                        <a href="{% url "list_parts" %}">
                            <span class="menu-bar__text">
                                <span class="menu-bar__name {% if '/parts/' in request.path %}active{% endif %}">
                                    Compras de repuestos
                                </span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        
    </ul>
</div>

<h4 class="admin-menu__title mt-4">Gestión</h4>

<div class="menu-bar">
    <ul id="CrancyMenu" class="menu-bar__one crancy-dashboard-menu">

        {% comment %} Users {% endcomment %}
        <li class="{% if '/users/' in request.path %}active{% endif %}">
            <a class="collapsed" href="{% url "list_users" %}">
                <span class="menu-bar__text">
                    <span class="crancy-menu-icon crancy-svg-icon__v1">
                        <svg class="crancy-svg-icon" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M12 4a4 4 0 0 1 4 4a4 4 0 0 1-4 4a4 4 0 0 1-4-4a4 4 0 0 1 4-4m0 10c4.42 0 8 1.79 8 4v2H4v-2c0-2.21 3.58-4 8-4"/></svg>
                    </span>
                    <span class="menu-bar__name">Usuarios</span>
                </span>
            </a>
        </li>

        {% comment %} Server Dashboard {% endcomment %}
        <li class="{% if '/server-dashboard/' in request.path %}active{% endif %}">
            <a class="collapsed" href="{% url "server" %}">
                <span class="menu-bar__text">
                    <span class="crancy-menu-icon crancy-svg-icon__v1">
                        <svg class="crancy-svg-icon" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                            <path fill="currentColor" d="M4 3h16v18H4zM12 6h2v2h-2zm0 4h2v2h-2zm0 4h2v2h-2z"/>
                        </svg>
                    </span>
                    <span class="menu-bar__name">Servidor</span>
                </span>
            </a>
        </li>
        
        {% comment %} Support {% endcomment %}
        {% comment %} <li>
            <a class="collapsed" href="#">
                <span class="menu-bar__text">
                    <span class="crancy-menu-icon crancy-svg-icon__v1">
                        <svg class="crancy-svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="m12 22l-.25-3h-.25q-3.55 0-6.025-2.475T3 10.5t2.475-6.025T11.5 2q1.775 0 3.313.662t2.7 1.825t1.824 2.7T20 10.5q0 1.875-.612 3.6t-1.676 3.2t-2.525 2.675T12 22m2-3.65q1.775-1.5 2.888-3.512T18 10.5q0-2.725-1.888-4.612T11.5 4T6.888 5.888T5 10.5t1.888 4.613T11.5 17H14zm-2.525-2.375q.425 0 .725-.3t.3-.725t-.3-.725t-.725-.3t-.725.3t-.3.725t.3.725t.725.3M10.75 12.8h1.5q0-.75.15-1.05t.95-1.1q.45-.45.75-.975t.3-1.125q0-1.275-.862-1.912T11.5 6q-1.1 0-1.85.613T8.6 8.1l1.4.55q.125-.425.475-.837T11.5 7.4t1.013.375t.337.825q0 .425-.25.763t-.6.687q-.875.75-1.062 1.188T10.75 12.8m.75-1.625"/></svg>
                    </span>
                    <span class="menu-bar__name">Soporte</span>
                </span>
            </a>
        </li> {% endcomment %}

    </ul>
</div>