{% extends "layout/base_auth.html" %}
{% load static %}

{% block page_title %}Recuperación de contraseña{%endblock page_title %}

{% block main_content %}

<section
	class="crancy-wc crancy-wc__full crancy-bg-cover"
	style="background-image: url('{% static "img/credential-bg.svg" %}')"
>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="crancy-wc__form">

					{% comment %} Img + form {% endcomment %}
					<div class="crancy-wc__form--middle">

						{% comment %} img {% endcomment %}
						<div class="crancy-wc__banner d-flex flex-column justify-content-center align-items-center">
							<div class="mt-5 pt-3 ">
								<h3 class="text-center">Intranet Cuerpo <br> de Bomberos de Puente Alto</h3>
							</div>

							<img src="{% static "images/logo-cbpa.png" %}" class="w-50 mt-3" />
							
						</div>

						{% comment %} Form {% endcomment %}
						<div class="crancy-wc__form-inner">

							<div class="crancy-wc__heading">
								<h3
									class="crancy-wc__form-title crancy-wc__form-title__one"
								>
									Recupera tu contraseña
								</h3>
								<p>Para recuperar tu contraseña ingresa tu correo electrónico.</p>
							</div>
							
							{% comment %} Successful message {% endcomment %}
							{% if successful_message %}
							<div class="alert alert-success d-flex align-items-center mt-5" role="alert">
								<svg xmlns="http://www.w3.org/2000/svg" width="3em" height="3em" viewBox="0 0 24 24"><path fill="currentColor" d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2m0 4l-8 5l-8-5V6l8 5l8-5z"/></svg>
								<div>
								  	{{ successful_message}}
								</div>
							</div>
							{% endif %}

							<form
								class="crancy-wc__form-main"
								method="post"
							>
							{% csrf_token %}
								
								{% comment %} Email {% endcomment %}
								<div class="form-group">
									<div class="form-group__input">
										<input
											class="crancy-wc__form-input"
											type="email"
											name="txtEmail"
											required="required"
										/>
									</div>
								</div>
								
								{% comment %} Submit {% endcomment %}
								<div class="form-group form-mg-top25">
									<div class="crancy-wc__button">
										<button
											class="ntfmax-wc__btn"
											type="submit"
										>
											Recuperar contraseña
										</button>
									</div>
								</div>

							</form>

						</div>

					</div>

					{% comment %} Footer {% endcomment %}
					<div class="crancy-wc__footer--top">
						<p class="crancy-wc__footer--copyright text-dark text-center mt-5">
							<span id="current-year"></span> &copy; Cuerpo de Bomberos de Puente Alto.
						</p>
						<p class="crancy-wc__footer--copyright text-dark text-center mt-0">Desarrollado por JR Digital.</p>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>

<script>
	let currentYear = new Date().getFullYear();
	document.getElementById("current-year").innerHTML = currentYear;
</script>

{% endblock main_content %}
